  
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>
                Logo
            </a>
        </li>
        <li>
            <a routerLink='/dashboard'>Dashboard</a>
        </li>
        <li>
            <a >Stores</a>
        </li>
        <li>
            <a>Products</a>
        </li>
        <li>
            <a routerLink='/invoice'>Invoices</a>
        </li>
        <li>
            <a >Question</a>
        </li>
        <li>
            <a>Purchase Orders</a>
        </li>
        <li>
            <a >Bills</a>
        </li>
        <li>
            <a>Payments</a>
        </li>
        <li>
            <a >Reports</a>
        </li>
        <li (click)="Logout()">
            <a >Logout</a>
        </li>
    </ul>
</div>