<div class="container-fluid" style="height: 100%" >
    <div class="row" style="height: 100%">
      <div class="col-4 left_div">
        <div class="form_sec">
            <h1 class="text-center">LOGO</h1>
        <h3 class="text-center mt-3 mb-3">Login Admin</h3>
        <form (submit)="Login($event)" class="text-center">
      <input type="text" id="login" class="fadeIn second" name="login" id="username" placeholder="username" required>
      <input type="text" id="password" class="fadeIn third" name="login" id="password" placeholder="password" required>
      <input type="submit" class="login-btn" value="Log In">
    </form>
        </div>
      </div>
      <div class="col-8 right_div">
        <div class="content-div text-center">
  
          <h4 class="text-center">Lorem Ipsum is simply dummy text</h4>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <input class="text-center Learn_m_btn" type="button" name="" value="Learn More">
        </div>
      </div>
    </div>
  </div>